* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5vmin;
    grid-column-start: 2;
    grid-column-end: span 6;
    text-align: center;
    font-size: 9vmin;
}

#pockets {
    display: grid;
    /* grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    background-color: burlywood;
    border-width: 3px;
    border-color: black;
    width: 80%;
    height: 50%;
    grid-template-columns: 2fr repeat(6, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 7%;
    border: 5px solid black;
}
/* make the header in the center then have it span across the whole middle row */
button {
    color: black;
    border-radius: 50%;
    font-size: 800%;
    background-color: gray;
    border-width: 1vmin;
    margin: 1vmin;
    
}

.p1 {
    background-color:deeppink;
}

.p2 {
    background-color: aqua;
}

#p1Mancala {
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: span 3;
}

#p2Mancala {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 3;
    
}



/* make flexbox centered
give pockets colors of players
gradients everywhere
add color scheme
buttons fixed size and position
font & fallback font
hover highlight over valid pieces
wooden bg?*/
