* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

h1 {
    font-size: 5vmin;
}

#pockets {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: burlywood;
    border-width: 3px;
    border-color: black;
    /* width: 80%; */
    height: 20%;
    grid-template-columns: 2fr repeat(6, 1fr) 2fr;
    grid-template-rows: repeat(1, 1fr);
}

button {
    color: black;
    border-radius: 50%;
    font-size: 1500%;
    background-color: gray;
    border-width: 33px;
    margin: 1vmin;
    
}

.p1 {
    background-color:deeppink;
}

.p2 {
    background-color: aqua;
}

#p1Mancala {
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: span 2;
}

#p2Mancala {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    
}



/* make flexbox centered
give pockets colors of players
gradients everywhere
add color scheme
buttons fixed size and position
font & fallback font
hover highlight over valid pieces
wooden bg?*/
