* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

#pockets {
    display: flex;
    position: absolute;
    flex-flow: wrap-reverse;
    justify-content: center;
    background-color: burlywood;
    align-items: center;
}

button {
    color: black;
    border-radius: 50%;
    size: 3vmin;
    padding: 4vmin;
    margin: 1vmin;
    font-size: 2.5vmin;
    width: 14%;
    height: 14%;
}

h1{
    display: block;
}